
@import url('inc/mobile-nav.css'); /* Mobile navigation 



/** GENERAL **/
html {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
    height: 100%;
}

div.wrapper {
    box-sizing: border-box;
    position: relative;
    /*padding-bottom: 178px;  Height of footer */
    min-height: 100%;
}

div.footer-wrapper{
    position: absolute;
    bottom: 0;
    margin-top: 0;
    width: 100%;
    background-color: RED;
}

div.site-content {
    background-color: white;
}

.single-content a, p.has-text-color a{
    transition: 0.3s;
    text-decoration: none;
    color: #8c5c26;
}

.single-content a:hover, p.has-text-color a:hover{
    color: #c69c6c;
}

#backTopButton {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    /*border: 3px solid rgba(237, 237, 237, 1);*/
    color: rgba(255, 255, 255, 1);
    background-color:#845b2b;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    transition: 0.3s;
  }

  #backTopButton:hover {
    /*border: 3px solid #68431c;*/
    color: #c69c6c;
  }

/** HEADER **/
header#masthead {
    background-color: #000000;
    color: ghostwhite;
}

header#masthead .logo {
    margin: 10px 0;
}

.site-header .container-fuild {
    margin-left: 15px;
    margin-right: 15px;
}

/** NAVIGATION **/
nav#site-navigation {
    display: none;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-right: 25px;
}

nav#site-navigation ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

nav#site-navigation li {
    margin: 0;
    padding: 0;
}

nav#site-navigation li a {
    color: #e1e1e1;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px ;
}

nav#site-navigation li.current_page_item a, nav#site-navigation li.current-menu-item a {
    color:#c69c6c;
    font-weight: bold;
} 

nav#site-navigation li a:hover {
    color:#c69c6c;
}

nav#site-navigation ul.dropdown-menu {
    background-color: #000000;
    margin: 0;
}

nav#site-navigation li.bateauMenu .dropdown-item {
    padding-left: 135px;
    transition: 0.3s;
}

nav#site-navigation li.boat-volupte .dropdown-item:hover {
    background: url('../img/icon-bateau-volupte.png') no-repeat left center;
}

nav#site-navigation li.boat-evasion .dropdown-item:hover {
    background: url('../img/icon-bateau-evasion.png') no-repeat left center;
}

nav#site-navigation li.boat-mouche .dropdown-item:hover {
    background: url('../img/icon-bateau-evasion.png') no-repeat left center;
}

nav#site-navigation li.boat-officiel .dropdown-item:hover {
    background: url('../img/icon-bateau-officiel.png') no-repeat left center;
}

nav#site-navigation li.boat-diabolico .dropdown-item:hover {
    background: url('../img/icon-bateau-diabolico.png') no-repeat left center;
}

nav#site-navigation li.boat-vaporetto .dropdown-item:hover {
    background: url('../img/icon-bateau-vaporetto.png') no-repeat left center;
}


nav#site-navigation .dropdown-item {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
}
nav#site-navigation .dropdown-item:focus, nav#site-navigation .dropdown-item:hover {
    background-color: #000000;
    color:#c69c6c;
}

div.langue-switcher {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 26px;
}

div.wpml-ls-legacy-dropdown-click a {
    display: inline-block;
}
.wpml-ls-legacy-dropdown-click {
    width: inherit;
    max-width: inherit;

}

.wpml-ls-legacy-dropdown-click a {
    padding: 0px;
}
.wpml-ls-legacy-dropdown-click a:hover, .wpml-ls-legacy-dropdown-click a:focus, .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover > a {
    background-color: #000000;
    color: #c69c6c;
    border:0px;
    text-decoration: none;
}
.wpml-ls-statics-shortcode_actions a {
    background-color: #000000;
    color: #FFFFFF;
    border:0px;
    text-decoration: none;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    border-top: 0;
}
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle::after {
    display: none;
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
    padding:0;
}

@media (min-width: 992px) {

    nav.mobile-navigation {
        display: none;
    }

    nav#site-navigation {
        display: inline-block;
        font-size: 13px;
    }

    nav#site-navigation .nav-link {
        font-size: 14px;
        padding: .5rem .5rem;
    }

    div.langue-switcher {
        font-size: 14px;
        padding: .5rem .5rem;
    }

}

@media (min-width: 1150px) {

    div.langue-switcher {
        top: 3px;
    }

    nav#site-navigation .nav-link {
        padding: .5rem 1rem;
        font-size: 16px;
    }

    div.langue-switcher {
        font-size: 16px;
        padding: .5rem .5rem;
    }
}

/** SLIDER **/
div#slider-homepage {
    background-color: black;
}

div#slider-homepage div.container-fluid {
    /*max-width: 1200px;*/
}

div#slider-homepage div.col-12 {
    padding: 0 !important;
    position: relative;
}

div#slider-homepage div.col-12 .newsblock {
    position: absolute;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    top:0;
    z-index: 100;
    width: 100%;
    padding: 5px 10px;
    background-color: #c69c6c;
    text-align: center;
    color: #ffffff;
}

div#slider-homepage div.col-12 .newsblock p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
}

div#slider-homepage div.col-12 .newsblock p a{
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
}


div#slider-homepage div.col-12 .newsblock p span.emailNews {
    display: inline-block;
}

div#slider-homepage div.imgBlock {
    background-position:center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    /*height: 300px;*/
    
}

div#slider-homepage .carousel-caption {
    bottom: 10%;
}

div#slider-homepage {
    background-color: #000000;
}

@media (min-width: 576px) {

    div#slider-homepage div.col-12 .newsblock p {
        font-size: 12px;
    }
    
}

@media (min-width: 768px) { 

    /*div#slider-homepage div.imgBlock {
        height: 500px;
    }*/


 }

@media (min-width: 992px) {

    div#slider-homepage .carousel-caption {
        bottom: 20%;
    }

    div#slider-homepage div.col-12 .newsblock {
        left: inherit;
        margin-right: inherit;
        margin-left: inherit;
        right:100px;
        top:50px;
        width: 250px;
    }

    div#slider-homepage div.col-12 .newsblock p span.emailNews {
        display: block;
    }
    
 }

@media (min-width: 1200px) { 

    div#slider-homepage .carousel-caption {
        bottom: 30%;
    }

    div#slider-homepage div.col-12 {
        padding: 0 35px 0 35px;
    }

    div#slider-homepage div.col-12 .newsblock {
        right:50px;
    }

 }


/** CONTENT **/
div.site-main {
    background-color: #ffffff;
}

/** CONTACT PAGE */
div.contact-page h1 {
    color: #C69C6C;
    margin: 50px auto;
    font-weight: 700;
}

div#contactForm label {
    display: block;
}

div#contactForm label {
    display: block;
}

div#contactForm .infos-rgpd {
    font-size: 11px;
}

div#contactForm input[type=text], div#contactForm input[type=email], div#contactForm select, div#contactForm textarea {
    border: 2px solid #C69C6C;
    border-radius:6px;
    width: 100%;
    padding: 5px 10px;
    color: #767676;
}


@media (min-width: 1200px) {

    div#contactForm {
        padding-right: 50px;
    }

    div#contactContent {
        padding-left: 50px;
    }

}

/** ACTUALITE PAGE */
div.actu-page h1 {
    color: #C69C6C;
    margin: 20px auto;
    font-weight: 700;
}

div.actu-page div.row {
    margin-top:25px ;
    margin-bottom: 25px;
}

div.actu-page h2 {
    font-size: 22px;
    font-weight: bold;
}

div.actu-page .excerptActu {
    font-size: 14px;
    min-height: 100px;
}

div.actu-page .dateActu {
    font-size: 10px;
    background: url('../img/actudate-puce.png') no-repeat center left;
    padding-left: 27px;
}

div.actu-page .actu-cover {
    background-position:center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}
div.actu-page .actu-content-single h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}
div.actu-page .actu-content-single span.line {
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #c1996a;
}

div.actu-page .actu-cover-single {
    background-position:center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

div.actu-page .dateActuSingle {
    font-size: 10px;
    text-align: center;
    margin: 5px 0 30px 0;
}

@media (min-width: 576px) {

    div.actu-page .actu-cover {
        height: 100%;
        margin-bottom: 0px;
    }
    
}

/** EVENEMENTS PAGE */
div.evenements-page h1 {
    color: #C69C6C;
    margin: 50px auto;
    font-weight: 700;
}
div.evenements-page div.evenement {
    position: relative;
    margin-bottom: 30px;
}

div.evenements-page div.evenement a {
    color: #000000;
    text-decoration: none;
}

div.evenements-page div.evenement .img {
    width: 262px;
    height: 262px;
    background-color: #c1996a;
    border-radius: 200px;
    border:5px solid #c1996a;
    display: inline-block;
    position: relative;
    background-position:center;
    background-repeat: none;
    background-size: cover;
}

div.evenements-page div.evenement .eventDetails {
    position: relative;
    z-index: 2;
    margin-top: -30px;
}

div.evenements-page .boatName {
    background-color: black;
    color: #c1996a;
    display: inline-block;
    padding: 5px 20px;
    font-weight: bold;
}

div.evenements-page .eventName {
    font-size: 13px;
    margin: 5px auto 0 auto;
    text-transform: uppercase;
}

div.evenements-page .prix {
    font-size: 20px;
    font-weight: bolder;
}

div.evenements-page .prix sup {
    font-size: 12px;
}

div.evenements-page .duree, div.evenements-page .boarding {
    font-size: 10px;
}


/** Evènement single page **/
div.eventHeader{
    margin-top: 30px;
    margin-bottom: 30px;
}

div.eventHeader h2 {
    font-size: 30px;
    color: #C69C6C;
    font-weight: bolder;
}

div#eventCarousel {
    border: 10px solid #000000;
    margin-bottom: 30px;
}

/** Bateaux page **/
.bateau-page .excerpt {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.boatDetails {
    margin-top: 30px;
    margin-bottom: 30px;
}

.boatDetails .p-3, .boatDetails .p-2, .boatDetails .p-4, .boatDetails .p-5, .boatDetails .p-6  {
    height: 100%;
}

.boatInfosBloc {
    border: 3px solid #c69c6d;
    height: 100%;
    padding: 20px;
}

.boatInfosBloc .title{
    display: table;
    width:100%;
}

.boatInfosBloc h4{
    display: table-cell;
    vertical-align: middle;
    font-size: 17px;
    color: #c69c6d;
    text-transform: uppercase;
    font-weight: bolder;
    background-repeat: no-repeat ;
    background-position: center left;
    padding-left: 50px;
    height: 50px;
    vertical-align: middle;
}

.boatInfosBloc h4.iconDefault{
    background-image: url('../img/icon-default.png');
}

.boatInfosBloc h4.iconPresta{
    background-image: url('../img/icon-presta.png');
}

.boatInfosBloc h4.iconDispo{
    background-image: url('../img/icon-dispo.png');
}

.boatInfosBloc h4.iconDetails{
    background-image: url('../img/icon-details.png');
}

.boatInfosBloc h4.iconCapacite{
    background-image: url('../img/icon-capacite.png');
}

.boatInfosBloc h4.iconInfos{
    background-image: url('../img/icon-infos.png');
}

.boatInfosBloc h4.iconFirework{
    background-image: url('../img/icon-firework.png');
}

.boatInfosBloc h4.iconOffre{
    background-image: url('../img/icon-offre.png');
}

.boatInfosBloc h4.iconAlarm{
    background-image: url('../img/icon-alarm.png');
}

.boatInfosBloc h4.iconPaiement{
    background-image: url('../img/icon-paiement.png');
}

.boatInfosBloc h4.iconZoom{
    background-image: url('../img/icon-zoom.png');
}

.boatInfosBloc h4.iconCheck{
    background-image: url('../img/icon-check.png');
}



div.bateau-page .videoWarpper {
    position:relative;
    height:250px;
    background-color:black;
}

div.bateau-page .videoCover {
    width:100%;
    height:100%;
    position: absolute;
    color:white;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;    
    /*border: 10px solid #000000;*/
    cursor: pointer;
}

div.bateau-page .overlay-video {
  display: none;
  height: 100%;
  width: 100%;
}

div.bateau-page .boatBloc {
    margin-bottom: 25px;
}

div.bateau-page .configuration .title {
    background:url('../img/background-config.gif') repeat-x center;
}

div.wp-block-alecaddd-accordion {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.wp-block-alecaddd-accordion .card-header  button {
    color: #c69c6d;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
}

div.wp-block-alecaddd-accordion  .card {
    border-width: 3px 3px 2px 3px;
    border-color: #c69c6d;
    border-style: solid;
    margin-bottom: 15px;
    border-radius: 0;
}

div.wp-block-alecaddd-accordion  .card-header{
    border-bottom: 1px solid #c69c6d;
}

div.sliderVideo {
    margin-bottom: 25px;
}

div.boatSlider {
    background-color: black;
}

@media (min-width: 768px) { 
    div.bateau-page .videoWarpper {
        height: 350px;
    }
 }

@media (min-width: 992px) {
    div.bateau-page .videoWarpper {
        height: 450px;
    }
 }

@media (min-width: 1200px) { 
    div.bateau-page .videoWarpper {
        height: 450px;
    }
 }

/** SUB FOOTER **/
div#sub-footer {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 0 20px 0;
    text-align: center;
}

div#sub-footer span , div#sub-footer a {
    font-size: 10px;
}
div#sub-footer button {
    font-size: 10px;
}

div.newsletter input[type=email] {
    font-size: 10px;
    padding: 7px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 100%;
    border-radius:5px;
    border:1px solid #000000;
}
@media (min-width: 576px) {
    div.newsletter input[type=email] {
        
    }
}
@media (min-width: 768px) { 
    div.newsletter input[type=email] {
        font-size: 15px;
        width: 150px;
    }
    div#sub-footer span , div#sub-footer a{
        font-size: 15px;
    }
    div#sub-footer button {
        font-size: 15px;
    }
 }

 @media (min-width: 992px) {
    div.newsletter input[type=email] {
        width: 250px;
    }
 }


/** FOOTER **/
footer#colophon {
    background-color: #c69c6c;
    padding: 15px 0;
}

footer .copyright {
    font-size: 10px;
}

footer .contactDetails {
    font-weight: 700;
}

footer#colophon div.social a {
    color: #000000;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    margin: auto 5px;
}

footer#colophon div.social a:hover {
    color: #ffffff;
}



/** BUTTON **/
.customButton {
    border-radius:20px;
    display: inline-block;
    font-weight: bold;
    padding: 8px 25px;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.3s;
    border: none;
}

.whiteButton {
    color: #000000;
    background-color: #ffffff;
}

.blackButton {
    color: #ffffff;
    background-color: #000000;
}

.customButton:hover {
    background-color: #C69C6C;
    color: #ffffff;
    text-decoration: none;
}


/* Gutenberg Custom Blocks */

/*Title style 2*/
.titre-h1-style2 {
    text-align: center;
    margin: 35px auto;
}
.titre-h1-style2 h2  {
    font-size: 32px;
    margin: 0;
    font-weight: bolder;
    color: #c1996a;
}
.titre-h1-style2 p  {
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
}


.customSlider {
    margin: 25px 0 25px 0;
    border: 10px solid black;
}

.customSlider .img {
    width: 100%;
    height: 300px;
    background-color: black;
    
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) { 
    .customSlider .img {
        height: 350px;
    }
 }

@media (min-width: 992px) {
    .customSlider .img {
        height: 450px;
    }
 }

@media (min-width: 1200px) { 
    .customSlider .img {
        height: 500px;
    }
 }