@import url('inc/mobile-nav.css'); /* Mobile navigation 

/** GENERAL **/



/** HEADER **/
header#masthead {
    background-color: #000000;
    color: ghostwhite;
}


/** NAVIGATION **/
nav#site-navigation {
    display: none;
}

nav#site-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav#site-navigation li {
    margin: 0;
    padding: 0;
}

nav#site-navigation li a {
    color: #e1e1e1;
}

nav#site-navigation li a:hover {
    color:#c69c6c;
}

nav#site-navigation ul.dropdown-menu {
    background-color: #000000;
}
nav#site-navigation .dropdown-item {
    background-color: #000000;
    color: #ffffff;
}
nav#site-navigation .dropdown-item:focus, nav#site-navigation .dropdown-item:hover {
    background-color: #000000;
    color:#c69c6c;
}


@media (min-width: 768px) {

    nav.mobile-navigation {
        display: none;
    }

    nav#site-navigation {
        display: block;
        font-size: 13px;
    }

}

@media (min-width: 992px) {

    nav#site-navigation {
        color: green;
        font-size: 16px;
    }

}

/** SLIDER **/
div#slider-homepage {
    background-color: black;
}

div#slider-homepage .carousel-caption {
    bottom: 40%;
}


/** CONTENT **/
div.site-main {
    background-color: #ffffff;
}

/** CONTACT PAGE */
div.contact-page h1 {
    color: #C69C6C;
    margin: 50px auto;
    font-weight: 700;
}

div#contactForm label {
    display: block;
}

div#contactForm label {
    display: block;
}

div#contactForm input[type=text], div#contactForm input[type=email], div#contactForm select, div#contactForm textarea {
    border: 2px solid #C69C6C;
    border-radius:6px;
    width: 100%;
    padding: 5px 10px;
    color: #767676;
}

div#contactForm input[type=submit] {
    background-color: #000000;
    border-radius:25px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 25px;
    font-size: 13px;
    border: 0px;
}

@media (min-width: 1200px) {

    div#contactForm {
        padding-right: 50px;
    }

    div#contactContent {
        padding-left: 50px;
    }

}

/** SUB FOOTER **/
div#sub-footer {
    background-color: #000000;
    color: #ffffff;
}

/** FOOTER **/
footer#colophon {
    background-color: #c69c6c;
}