.cta-container {
    position: relative;
}

.cta-container * {
    z-index: 3;
    position: relative;
}

.cta-overlay {
    position: absolute;
    inset: 0px;
    z-index: 2;
}

.titre-h1-style2 {
    text-align: center;
}
.titre-h1-style2 h2  {
    font-size: 32px !important;
    margin: 0 !important;
    font-weight: bolder !important;
    color: #c1996a !important;
}
.titre-h1-style2 p  {
    margin: 0 !important;
    font-size: 18px !important;
    font-weight: bolder !important;
}

/* boat block gutenberg */
.boatDetails {
    margin-top: 30px;
    margin-bottom: 30px;
}

.boatInfosBloc {
    border: 3px solid #c69c6d;
    height: 100%;
    padding: 20px;
}

.boatInfosBloc .title{
    display: table;
    width:100%;
}

.boatInfosBloc h4{
    display: table-cell;
    vertical-align: middle;
    font-size: 17px;
    color: #c69c6d;
    text-transform: uppercase;
    font-weight: bolder;
    background-repeat: no-repeat ;
    background-position: center left;
    padding-bottom: 10px;
    padding-left: 50px;
    height: 50px;
    vertical-align: middle;
}

.boatInfosBloc h4.iconDefault{
    background-image: url('img/icon-default.png');
}

.boatInfosBloc h4.iconPresta{
    background-image: url('img/icon-presta.png');
}

.boatInfosBloc h4.iconDispo{
    background-image: url('img/icon-dispo.png');
}

.boatInfosBloc h4.iconDetails{
    background-image: url('img/icon-details.png');
}

.boatInfosBloc h4.iconCapacite{
    background-image: url('img/icon-capacite.png');
}

.boatInfosBloc h4.iconInfos{
    background-image: url('img/icon-infos.png');
}

.boatInfosBloc h4.iconFirework{
    background-image: url('img/icon-firework.png');
}

.boatInfosBloc h4.iconOffre{
    background-image: url('img/icon-offre.png');
}

.boatInfosBloc h4.iconAlarm{
    background-image: url('img/icon-alarm.png');
}

.boatInfosBloc h4.iconPaiement{
    background-image: url('img/icon-paiement.png');
}

.boatInfosBloc h4.iconZoom{
    background-image: url('img/icon-zoom.png');
}

.boatInfosBloc h4.iconCheck{
    background-image: url('img/icon-check.png');
}


/* custom slider */
.customSlider {
    margin: 25px 0 25px 0;
    border: 10px solid black;
}

.customSlider .img {
    width: 100%;
    height: 300px;
    background-color: black;
    
    background-position: center;
    background-size: cover;
}

.customSlider .carousel-control-prev, .customSlider .carousel-control-next {
    display: none;
}

/** BUTTON **/
.customButton {
    border-radius:20px;
    display: inline-block;
    font-weight: bold;
    padding: 8px 25px;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.3s;
    border: none;
}

.whiteButton {
    color: #000000 !important;
    background-color: #ffffff !important;
}

.blackButton {
    color: #ffffff !important;
    background-color: #000000 !important;
}

.customButton:hover {
    background-color: #C69C6C;
    color: #ffffff;
    text-decoration: none;
}

/* Make gutenberg editor window bigger
/* Main column width */
.wp-block {
    max-width: 1200px;
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}