/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.cta-container {
    position: relative;

}

.cta-overlay {
    position: absolute;
    inset: 0px;
    z-index: 2;

}

.cta-container h2, .cta-container p {
    z-index: 3;
    position: relative;
}
