.cta-container {
    position: relative;
}

.cta-container * {
    z-index: 3;
    position: relative;
}

.cta-overlay {
    position: absolute;
    inset: 0px;
    z-index: 2;
}

.titre-h1-style2 {
    text-align: center;
}
.titre-h1-style2 h2  {
    font-size: 32px !important;
    margin: 0 !important;
    font-weight: bolder !important;
}
.titre-h1-style2 p  {
    margin: 0 !important;
    font-size: 18px !important;
    font-weight: bolder !important;
}