 /* The side navigation menu */
 .mobile-navigation {
   display: inline-block;
   margin-right: 25px;
 }

 .mobile-navigation .burger {
    margin-top: 17px;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
 }

 .mobile-navigation .burger:hover {
    color: #c69c6c;
 }

 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
      position: absolute;
      color: #ffffff !important;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      text-decoration: none;
    }
  
  /* The navigation menu links */
  .sidenav #menu-mobile {
    margin: 0 20px 0 0;
    padding: 0;
    list-style: none;
  }

  .sidenav #menu-mobile li {
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
  }

  .sidenav #menu-mobile li li {
    margin-bottom: 5PX;
  }

  .sidenav #menu-mobile a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
  }

  .sidenav #menu-mobile ul.sub-menu a {
    font-size: 15px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav #menu-mobile a{
    color: #ffffff;
  }
  .sidenav #menu-mobile a:hover {
    color: #c69c6c;
  }
  

  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 